[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
django-environ = "*"
coreapi = "*"

[requires]
python_version = "3.7"
